@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #999;
    border-color: #999 transparent #999 transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
